#cover {
    width: 100%;
    height: 297mm;

    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;

    //margin-left: 1.5cm;


    .title-cover {
        font-family: "Helvetica Neue LT Bold Condensed", sans-serif;
        font-size: 50px;//38pt;
        text-transform: uppercase;
        color: primary;
        background-color: white;
        page: no-chapter;
        width: auto;
        margin-top: 7cm;
        margin-left: 1.5cm;
        padding-left: 15px;
        padding-right: 15px;
    }

    a {
        //color: $cover;
        font-weight: bolder;
    }

    .subtitle-cover {

        font-family: "Helvetica Neue LT Bold Condensed", sans-serif;
        font-size: 24px; // 30pt;
        text-transform: uppercase;
        flex: 1 100%;
        margin-top: 2cm;
        margin-left: 1.5cm;
        //white-space: pre-wrap;
    }

    .meta {

        font-family: 'Helvetica Neue LT Roman';
        font-size: 16px;
        margin-left: 1.5cm;
    //    margin-bottom: 2cm;

    }

    .cover-footer {
        font-family: 'Helvetica Neue LT Roman';
        font-size: 12px;
        margin-top: 3px;
        position: absolute;
        bottom: 30pt;
        //color: $white;
        width: 100%;

        p {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
    }

}